@font-face {
  font-family: 'Oxanium';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/oxanium.ttf') format('truetype');
}

/* ---------------------------------- */

body {
    display: grid;
    grid: auto / 1fr 1fr 1fr;
    background: #080808;
    font: normal 16px/16px Oxanium, sans-serif;
    color: #f8f8f8;
    margin: 0;
    padding: 0;
}

section {
    background: #101010;
    margin: 1em;
    padding: 1em;
}