---
import Profile from '../profile.json';
---
<section id="interests">
    <header>
        Interests 
    </header>
    <content>
        <cloud>
            {Profile.interests.map(interest => <pill> {interest} </pill>)}
        </cloud>
    </content>
</section>