---
import Profile from '../profile.json';
---
<section id="intro">
    <header>
        <div id="name">
            {Profile.name.first} {Profile.name.last}
        </div>
        <div id="github">
            <a href=`https://github.com/${Profile.alias}` target="_blank"> GitHub </a>
        </div>
    </header>
    <content>
        {Profile.introduction}
    </content>
</section>

<style>

section {

}

section > header {
    display: flex;
    background: none;
    margin: 0;
    padding: 2em;
}

section > header #name {
    flex: 1 0 auto;
}

section > header #github {
    flex: 0 0 auto;
}

section > footer {
    background: none;
    display: flex;
    margin: 0;
    padding: 1em;
}

section > content {
    background: #101010;
    margin: 0;
    padding: 2em;
    text-align: center;
}

</style>