---
import Profile from '../profile.json';
import Overlay from '../components/overlay.astro';
let visible = true;
---
<section id="jam">
    <content>
        <video id="video" muted loop preload="auto">
            <source src="/portfolio/videos/jam.mp4" type="video/mp4" />
        </video>
        <Overlay id="overlay" visible={visible}>
            <div slot="content" style="color: #ff2a3a">
                <img src="/portfolio/icons/film.svg" width="32px" />
            </div>
        </Overlay>
    </content>
</section>

<style>

section {
}

content {
    overflow: hidden;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
}

</style>

<script type="module" client:load>
  const video = document.querySelector('#video');
  video.load();

  const section = document.querySelector('#jam');
  section.addEventListener('click', () => {
    const overlay = document.querySelector('#overlay');
    const content = overlay.querySelector('content');
    if(video.paused) {
        overlay.style.background = `rgba(0,0,0,0)`;
        content.style.display = 'none';
        video.style.filter = `grayscale(0) blur(0)`;
        video.play();
        video.muted = false;
    }
    else {
        overlay.style.background = `rgba(0,0,0,0.9)`;
        content.style.display = 'flex';
        video.style.filter = `grayscale(100) blur(4px)`;
        video.pause();
        video.muted = true;
    }
  })
</script>