---
import Profile from '../profile.json';
---
<section id="jam">
    <header>
    </header>
    <content>
        <video controls>
            <source src="/portfolio/videos/jam.mp4" type="video/mp4" />
        </video>
    </content>
</section>