---
import Profile from '../profile.json';
---
<section id="projects">
    <header>
        Projects
    </header>
    <content>
        <list>
            {Profile.projects.map(
                project => (
                    <details>
                        <summary>
                            <div id="name">
                                <a href="#" target="_blank"> {project.name} </a>
                            </div>
                            <div id="skills">
                                <cloud>
                                    {project.skills.map(skill => <pill> {skill} </pill>)}
                                </cloud>
                            </div>
                        </summary>
                        <div id="reflections">
                            <header>
                                Reflections
                            </header>
                        </div>
                    </details>
                )
            )}
        </list>
    </content>
</section>

<style>

list {
    display: block;
    margin: 0;
    padding: 0;
}

list > details {
    margin: 0;
    padding: 0;
}

list > details summary {
    display: flex;
    margin: 0;
    padding: 0;
}

list > details summary #name {
    flex: 1 1 auto;
    padding: 0.25em;
    text-transform: uppercase;
}

list > details summary #skills {
    flex: 0 1 auto;
}

list > details #reflections {
    margin: 0;
    padding: 1em;
}

</style>