---
import Profile from '../profile.json';
---
<section id="projects">
    <header>
        Projects
    </header>
    <content>
        <list>
            {Profile.projects.map(
                project => (
                    <details>
                        <summary>
                            <div id="name">
                                {project.name}
                            </div>
                            <!--
                            <div id="skills">
                                <cloud>
                                    {project.skills.map(skill => <pill> {skill} </pill>)}
                                </cloud>
                            </div>
                            -->
                        </summary>
                        
                        <div id="reflections">
                            <header>
                                Reflections
                            </header>
                            <ul>
                                {project.reflections.map(reflection => <li> {reflection} </li>)}
                            </ul>
                        </div>
                    </details>
                )
            )}
        </list>
    </content>
</section>

<style>

section > content {
    margin: 0;
    padding: 0;
}

list {
    display: block;
    margin: 0;
    padding: 0;
}

list > details {
    margin: 0;
    padding: 0;
}

list > details:hover {
    cursor: pointer;
    background: #202020;
}

list > details[open] {
    background: #202020;
}

list > details summary {
    display: flex;
    margin: 0;
    padding: 1em;
}

list > details summary #name {
    flex: 1 1 auto;
    padding: 0.25em;
    font: normal 12px/12px Oxanium, sans-serif;
    text-transform: uppercase;
}

list > details summary #skills {
    flex: 0 1 auto;
}

list > details #description {
    margin: 0;
    padding: 1em;
}

list > details #reflections {
    background: #181818;
    margin: 0;
    padding: 1em;
}

</style>