---
import Skills from '../skills.json';
---
<section id="skillset">
    <cloud>
        {Skills.languages.map(language => <pill> {language} </pill>)}
        {Skills.tools.map(tool => <pill> {tool} </pill>)}
        {Skills.frameworks.map(framework => <pill> {framework} </pill>)}
    </cloud>
</section>